.DS_Store
Thumbs.db

node_modules/
dist/
build/
out/

.env
.env.*
!.env.example

temp/*
!temp/.gitkeep

exports/*
!exports/.gitkeep

local-archive/*
!local-archive/.gitkeep

*.log
node_modules/
dist/

src-tauri/target/
target/
